@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cream-bg:#F2EAE2;
    --pure-white:#FFF;
    --gunmetal:#1C232B;
    --aurometal-saurus:#6C7289;
    --deep-aquamarine:#3D8168;
    --deep-aquamarine-hover: #1A4032;
}

body {
    background: var(--cream-bg);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

    .container {
        display: flex;
        max-width: 37.5rem;
        max-height: 28.125rem;
        border-radius: 0.625rem;
        background: var(--pure-white);    
    }


    /* CONTAINER RIGHT */

    .container_right {
        padding: 2rem;
    }

    .container_right h1 {
        margin-top: 1.25rem;
        /* text style */
        color: var(--gunmetal);
        font-family: "Fraunces", serif;
        font-size: clamp(1.5rem, 2rem + 1vw, 2.3rem);
        font-style: normal;
        font-weight: 700;
        line-height: 2rem;
    }

    .container_right p {
        margin-top: 1.5rem;
        /* text style */
        color: var(--aurometal-saurus);
        font-family: "Montserrat", sans-serif;
        font-size: clamp(0.4rem, 0.7rem + 1vw, 0.9rem);
        font-style: normal;
        font-weight: 500;
        line-height: 1.4375rem;
    }

    /* PRICE */

    .price {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        margin-top: 1.8rem;
    }

    .discount_price {
        color: var(--deep-aquamarine);
        font-family: "Fraunces", serif;
        font-size: clamp(1.5rem, 2rem + 1vw, 2rem);
        font-style: normal;
        font-weight: 700;
        line-height: 2rem;
    }

    .inicial_price {
        color: var(--aurometal-saurus);
        font-family: "Montserrat", sans-serif;
        font-size: clamp(0.5rem, 0.8rem + 1vw, 0.9rem);
        font-style: normal;
        font-weight: 500;
        line-height: 1.4375rem;
        text-decoration-line: line-through;
    }

    /* BOTAO */

    button {
        max-width: 18rem;
        max-height: 3rem;
        padding: 0.9rem 3.9rem;
        margin-top: 1.88rem;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        gap: 0.5rem;
        border: none;
        /* button style */
        border-radius: 0.5rem;
        background: var(--deep-aquamarine);
        /* text style */
        color: var(--pure-white);
        font-family: "Montserrat", sans-serif;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    button:hover {
        background: var(--deep-aquamarine-hover);
        cursor: pointer;
    }


/* RESPONSIVIDADE */

@media only screen and (min-width: 630px) {

    .picture {
        content: url("assets/perfume-desktop.svg");
        border-radius: 0.625rem 0rem 0rem 0.625rem;
    }

  }

/* MOBILE VIEW */

@media only screen and (max-width: 630px) {

    .container {
        flex-direction: column;
        max-width: 21rem;
        max-height: 40rem;
    }

    .picture {
        content: url("assets/perfume-mobile.svg");
        border-radius: 0.625rem 0.625rem 0rem 0rem;
        width: 21rem;
    }
        /* CONTAINER RIGHT */
    
        .container_right {
            padding: 1.5rem;
        }
    
        .container_right h1 {
            margin-top: 0.75rem;
    }
    
        .container_right p {
            margin-top: 1rem;
        }
        
        /* PRICE */
        
        .price {
            margin-top: 1.5rem;
        }
        
        /* BOTAO */
        
        button {
            padding: 0.9rem 5rem;
            margin-top: 1.25rem
        }
        
        button:hover {
            background: var(--deep-aquamarine-hover);
            cursor: pointer;
        }

}
